<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-Lee</title>
</head>
<body>
    <h1>Tim Berners-Lee</h1>
 
<p> Tim Berners-Lee inventó la World Wide Web en 1989.

Es el cofundador y CTO de Inrupt.com , una nueva empresa tecnológica que utiliza, promueve y ayuda a desarrollar la plataforma Solid de código abierto . Solid tiene como objetivo dar a las personas control y agencia sobre sus datos, cuestionando muchas suposiciones sobre cómo debe funcionar la web. Sólido técnicamente es un nuevo nivel de estándar en la capa web, que agrega cosas que nunca se incluyeron en la especificación original, como inicio de sesión único global, control de acceso universal y una API de datos universal para que cualquier aplicación pueda almacenar datos en cualquier almacenamiento. lugar. Socially Solid es un movimiento que se aleja de gran parte de los problemas de la WWW actual y se dirige hacia un mundo en el que los usuarios tienen el control y están empoderados por grandes cantidades de datos, privados, compartidos y públicos.
</p>

<img src="images/2001-europaeum-eighth.jpg" alt="">

<p>Sir Tim es el Director del World Wide Web Consortium ( W3C ), una organización de estándares Web fundada en 1994 que desarrolla tecnologías interoperables (especificaciones, pautas, software y herramientas) para llevar la Web a su máximo potencial. Es director de la World Wide Web Foundation, que se lanzó en 2009 para coordinar esfuerzos para promover el potencial de la Web en beneficio de la humanidad.

Graduado de la Universidad de Oxford, Sir Tim inventó la Web mientras estaba en el CERN , el Laboratorio Europeo de Física de Partículas, en 1989. Escribió el primer cliente y servidor web en 1990. Sus especificaciones de URI, HTTP y HTML se refinaron a medida que se extendía la tecnología Web.

Es el profesor fundador de 3Com de Ingeniería en la Escuela de Ingeniería con un cargo conjunto en el Departamento de Ingeniería Eléctrica y Ciencias de la Computación en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial ( CSAIL ) en el Instituto de Tecnología de Massachusetts ( MIT ), donde co -Lidera el Grupo de Información Descentralizada (DIG) .
El Grupo de Información Descentralizada trabaja en el Proyecto Sólido para dar a las personas el control de sus propios datos y volver a descentralizar la Web. Es el cofundador y CTO de inrupt , la compañía lanzada para asegurar el éxito de la plataforma Solid y su comunidad de código abierto, y para construir el ecosistema que la respalda.
También es profesor en el Departamento de Ciencias de la Computación de la Universidad de Oxford , Reino Unido. Es presidente y fundador del Open Data Institute en Londres. Es presidente del Open Data Institute de Londres .

En 2001 se convirtió en miembro de la Royal Society. Ha sido galardonado con varios premios internacionales como el Premio Japón, el Premio de la Fundación Príncipe de Asturias, el Premio de Tecnología del Milenio y el premio Die Quadriga de Alemania. En 2004 fue nombrado caballero por SM la Reina Isabel y en 2007 recibió la Orden del Mérito. En 2009 fue elegido asociado extranjero de la Academia Nacional de Ciencias. Es el autor de " Weaving the Web ".

El 18 de marzo de 2013, Sir Tim, junto con Vinton Cerf, Robert Kahn, Louis Pouzin y Marc Andreesen, recibió el Premio Queen Elizabeth de Ingeniería por "una innovación revolucionaria en ingeniería que ha sido de beneficio global para la humanidad".

Sir Tim ha promovido los datos gubernamentales abiertos a nivel mundial y dedica tiempo a luchar por derechos como la neutralidad de la red, la privacidad y la apertura de la Web.
El 4 de abril de 2017, Sir Tim recibió el premio  ACM AM Turing por inventar la World Wide Web, el primer navegador web y los protocolos y algoritmos fundamentales que permiten escalar la Web. El Premio Turing, llamado "Premio Nobel de Computación", es considerado uno de los premios más prestigiosos en Ciencias de la Computación.</p>
</body>
</html>