<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee">Berners-Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
      </ul>
    </nav>
  </header>
  <div class="wapper">
    <main>
      <section class="left">
        <h1 id="arriba">Héroes de la informatica</h1>
        <hr>
        <div class="cuerpo-texto">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia itaque iste impedit minima eum,
            natus dolor ut quae deleniti magnam ipsa voluptatem earum nisi magni eius a deserunt ducimus.
          </p>
          <article>
            <div class="caja-imagen">
              <a href="/babbage"><div class="caja-imagen__item"><img src="/images/babbage_1.jpg" alt="Charles Babbage"></div></a>
              <a href="/babbage">Charles Babbage
            </div>
            <div class="caja-imagen">
              <a href="/berners-lee"><div class="caja-imagen__item"><img src="images/2001-europaeum-eighth.jpg" alt="Berners-Lee"></div></a>
              <a href="/berners-lee">Berners-Lee</a>
            </div>
            <div class="caja-imagen">
              <a href="/clarke"><div class="caja-imagen__item"><img src="/images/joanc1.jpg" alt="Joan Clarke"></div></a>
              <a href="/clarke">Joan Clarke</a>
            </div>
            <div class="caja-imagen">
              <a href="/hamilton"><div class="caja-imagen__item"><img src="/images/Margaret_Hamilton-768x956.gif" alt="Margaret Hamilton"></div></a>
              <a href="/hamilton">Margaret Hamilton</a>
            </div>
            <div class="caja-imagen">
              <a href="/hopper"><div class="caja-imagen__item"><img src="/images/descarga.jpg" alt="Grace Murray Hopper"></div></a>
              <a href="/hopper">Grace Murray Hopper</a>
            </div>
            <div class="caja-imagen">
              <a href="/lovelace"><div class="caja-imagen__item"><img src="/images/Ada_Lovelace_portrait_circa_1840.jpg" alt="Lovelace"></div></a>
              <a href="/lovelace">Lovelace</a>
            </div>
            <div class="caja-imagen">
              <a href="/turing"><div class="caja-imagen__item"><img src="/images/1-Turing-2-768x511.jpg" alt="Alan Turing"></div></a>
              <a href="/turing">Turing</a>
            </div>
          </article>

          <a href="#arriba">Subir arriba</a>
      </section>

    </main>
    <aside>
      <section class="right">
        <nav>
          <h3>Barra de navegación</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          </ul>
        </nav>
      </section>
    </aside>
  </div>

  <footer>
    <address>
      Puedes encontrar el GitHub del autor en <a href="https://github.com/JimenaRW">GitHub</a><br>
      Su mail de contacto es <a href="mailto:jimena.witen@gmail.com">mail de contacto</a><br>
    </address>
  </footer>
</body>

</html>