<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Babbage</a></li>
                <li><a href="/berners-lee">Berners-Lee</a></li>
                <li><a href="/clarke">Clarke</a></li>
                <li><a href="/hamilton">Hamilton</a></li>
                <li><a href="/hopper">Hopper</a></li>
                <li><a href="/lovelace">Lovelace</a></li>
                <li><a href="/turing">Turing</a></li>
            </ul>
        </nav>
    </header>

    <div class="wapper">
        <main>
            <section class="left">
                <h1 id="arriba">Ada Lovelace</h1>
                <hr>
                <div class="cuerpo-texto">
                    <div class="imagen"><img src="/images/Ada_Lovelace_portrait_circa_1840.jpg"
                            alt="Ada Lovelace (hacia 1840)"></div>

                    <p>
                        "Al desabrochar el abrigo, metió las manos en los bolsillos de su pantalón para mostrar mejor el
                        chaleco, que estaba tejido con el dibujo de un mosaico impreciso de diminutos cuadros azules y
                        blancos. Los sastres los denominaban el ‘Estampado a cuadros de Ada’, la señora que había
                        programado el telar Jacquard para que tejiera álgebra pura."
                    </p>
                    <p>
                        Hace muchos, muchos años, allá por el año 1944, había una hermosa joven en un fábrica de tejidos
                        que producía en serie, metros y metros de telas estampadas. La joven vigilaba el correcto
                        funcionamiento de una máquina que tejía automáticamente los dibujos gracias a unas tarjetas que
                        guardaban todas las órdenes necesarias. Grupos de tarjetas que actuaban una y otra vez para
                        estampar repetidamente el mismo motivo a lo largo de la enorme pieza de tela. Libre de pensar en
                        el número de pasadas y puntos en que antaño ocupaba su atención, cuando atendía su propio telar
                        en la casa familiar, ahora mataba el hastío dejando volar su imaginación en alas de los cuentos
                        de hadas y soñaba que una de ellas se había ocupado de ahorrarle la monotonía de las
                        repeticiones. Recuerda que le gustaba crear o descifrar una muestra, pero luego era
                        embrutecedora la necesidad de repetirla infinidad de veces hasta conseguir la pieza completa.
                    </p>
                    <p>
                        Ciertamente, en un lejano país, muchos años atrás, una hechicera, hija de un poeta mágico y de
                        la princesa de los paralelogramos, inventó un lenguaje nuevo con la intención que la bella joven
                        suponía. Aunque ahora parecía que una horrible bruja la había encadenado a aquella máquina y la
                        había convertido en una pieza más de la enorme fábrica que deglutía millas y millas de hilo y
                        vomitaba sin cesar las piezas “manufacturadas” que engrosaban progresivamente las arcas del amo.
                    </p>
                    <p>
                        La niña hechicera recibió, al nacer, el nombre de Ada y heredó de sus padres dos dones, de su
                        madre el don de hablar el lenguaje de la aritmética y la geometría y de su padre el don de las
                        letras. Gracias a estos dones, siendo muy joven, inventó unas palabras mágicas que, ser
                        pronunciadas por los duendes mecánicos, eran capaces de conseguir lo arriba referido.
                    </p>
                    <p>
                        La industria textil vio pronto la posibilidad de tejer los mismos estampados con muchas menos
                        tarjetas y adiestró a sus duendes en la pronunciación de las palabras mágicas. Los duendes así
                        adiestrados produjeron tal cantidad de telas estampadas y brocados que las aldeas se vaciaron
                        porque las jóvenes aldeanas y los mozos de las aldeas emigraron a lejanas ciudades atraídos por
                        la magia de éstos duendes y en busca de fortuna.
                    </p>
                </div>
                <a href="#arriba">Subir arriba</a>
            </section>
        </main>

        <aside>
            <section class="right">
                <nav>
                    <h3>Barra de navegación</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/babbage">Babbage</a></li>
                        <li><a href="/berners-lee">Berners-Lee</a></li>
                        <li><a href="/clarke">Clarke</a></li>
                        <li><a href="/hamilton">Hamilton</a></li>
                        <li><a href="/hopper">Hopper</a></li>
                        <li><a href="/lovelace">Lovelace</a></li>
                        <li><a href="/turing">Turing</a></li>
                    </ul>
                </nav>
            </section>
        </aside>
    </div>

    <footer>
        <address>
            Puedes encontrar el GitHub del autor en <a href="https://github.com/JimenaRW">GitHub</a><br>
            Su mail de contacto es <a href="mailto:jimena.witen@gmail.com">mail de contacto</a><br>
        </address>
    </footer>
</body>

</html>