<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Babbage</a></li>
                <li><a href="/berners-lee">Berners-Lee</a></li>
                <li><a href="/clarke">Clarke</a></li>
                <li><a href="/hamilton">Hamilton</a></li>
                <li><a href="/hopper">Hopper</a></li>
                <li><a href="/lovelace">Lovelace</a></li>
                <li><a href="/turing">Turing</a></li>
            </ul>
        </nav>
    </header>
    <div class="wapper">
        <main>
            <section class="left">
                <h1 id="arriba">Vida de Alan Turing</h1>
                <hr>
                <div class="cuerpo-texto">
                    <div class="imagen"><img src="/images/1-Turing-2-768x511.jpg" alt="Alan Turing"></div>
                    <p>
                        El 19 de agosto de 2014 sucedió algo excepcional. La reina Isabel II de Inglaterra proclamó
                        finalmente el
                        indulto póstumo a Alan Turing (1912–1954), condenado en 1952 por mantener relaciones
                        homosexuales.
                        Terminó
                        así un largo proceso del estado británico para disculparse con una de sus figuras científicas
                        más
                        sobresalientes del siglo XX, cuyas aportaciones tuvieron un impacto histórico. Durante la II
                        Guerra
                        Mundial
                        tuvo un papel fundamental para que los aliados pudieran descifrar las comunicaciones secretas de
                        los
                        nazis.
                        Y antes de eso había lanzado una idea que transformó los ordenadores en las potentes y
                        versátiles
                        máquinas
                        que son hoy en día.
                    </p>
                    <p>
                        Un ordenador hace mucho más que ordenar. Usamos esa palabra prestada del francés ordinateur,
                        que
                        es la
                        traducción del original inglés computer. Ése era el nombre de las personas especialistas en
                        hacer
                        cálculos numéricos y en el siglo XIX ese término comenzó a aplicarse a máquinas, que
                        comenzaron
                        a
                        sustituir a los humanos en esas tareas. Calculaban cada vez más rápido, sobre todo cuando en
                        el
                        siglo XX
                        sus engranajes se sustituyeron por componentes electrónicos.
                    </p>
                    <p>
                        Sin embargo, los primitivos ordenadores tenían el inconveniente de que se construían para
                        resolver
                        un
                        problema determinado y si se quería usarlos para otro fin, había que cambiar los circuitos.
                        Eso
                        fue así
                        hasta que en 1936 un estudiante inglés, Alan Turing, pensó en una computadora que resolvería
                        cualquier
                        problema; siempre que ese problema pudiera traducirse a expresiones matemáticas y luego
                        reducirse a
                        una
                        cadena de operaciones lógicas con números binarios, en las que sólo cabían dos decisiones:
                        verdadero o
                        falso. La idea era reducir todo (cifras, letras, imágenes, sonidos) a ristras de unos y ceros y
                        usar una
                        receta, un programa, para resolver los problemas en pasos muy simples. Había nacido el
                        ordenador
                        digital,
                        pero de momento sólo era una máquina imaginaria.
                    </p>
                    <p>
                        Tras la II Guerra Mundial, en la que ayudó a descifrar el código Enigma de los mensajes en
                        clave
                        de los
                        nazis, Turing creó uno de los primeros ordenadores como los actuales, que además de digital
                        era
                        programable: podía usarse para muchas cosas con sólo cambiar el programa.
                    </p>
                    <p>
                        Su máquina pronto quedó obsoleta, como pasa ahora: los ordenadores han seguido duplicando su
                        potencia de
                        cálculo cada año y medio, tal y como predijo Gordon Moore en 1965. Turing sólo vio los
                        primeros
                        cerebros
                        electrónicos. Él creía que los ordenadores sí podrían llegar a pensar y, con el programa
                        adecuado,
                        hacer cosas como chatear sin que pudiéramos ser capaces de distinguir si es una persona o un
                        ordenador.
                        Todavía nadie ha conseguido crear un programa que supere esa prueba, el test de Turing. Con 40
                        años él
                        había abierto el campo de la Inteligencia Artificial pero en 1952, en la cumbre de su carrera
                        científica,
                        fue arrestado y condenado por mantener relaciones homosexuales. También se le denegó acceso a
                        las
                        instalaciones de Bletchley Park, el centro criptográfico del Reino Unido, en el que Turing
                        trabajó
                        durante
                        la II Guerra Mundial.
                    </p>
                    <p>
                        Para evitar ir a la cárcel, eligió someterse a un tratamiento para invertir sus impulsos
                        naturales, aún
                        sabiendo que no era algo lógico. Dos años más tarde de iniciar esa supuesta cura por
                        castración
                        química,
                        Alan Turing tomó una decisión mucho más compleja, para la que sus genes no lo habían
                        programado:
                        se
                        suicidó, el 7 de junio de 1954.
                    </p>
                    <p>
                        Eso es lo que determinó la investigación policial. Según la autopsia la causa de la muerte fue
                        envenenamiento con cianuro; y junto a su cuerpo fue hallada una manzana mordida. Así que los
                        investigadores
                        concluyeron que Turing había inyectado cianuro en la manzana antes de morderla. Pero la manzana
                        nunca se
                        llegó a analizar, lo que deja abiertas otras posibilidades, como la inhalación accidental de
                        vapores
                        de
                        cianuro, que al parecer Turing estaba usando para un experimento en su habitación.
                    </p>
                    <p>
                        Si hay dudas sobre el suicidio de Turing, mucho menos claro está que decidiera acabar con su
                        vida
                        debido a
                        la condena y al tratamiento de castración química, que había finalizado un año antes de su
                        muerte. Y
                        tampoco
                        hay ningún dato que confirme que la manzana mordida del logotipo de la compañía Apple (que
                        volvió a
                        revolucionar la informática en los años 1970) sea un homenaje a Alan Turing. La coincidencia de
                        las
                        franjas
                        arcoiris del logo original de Apple con la bandera gay alimenta esa hipótesis, pero Steve Jobs
                        negó
                        que ese
                        fuera el origen de su emblema: “Ojalá hubiera sido así”, declaró el fundador de la empresa al
                        escritor y
                        actor Stephen Fry.
                    </p>
                    <p>
                        El verdadero homenaje vino de sus colegas, que desde 1966 conceden el premio Turing, un
                        equivalente
                        al Nobel
                        de Informática. A finales del siglo XX, el reconocimiento a la figura de Turing comenzó a ser
                        mucho
                        más
                        generalizado. Y en 2009 el entonces primer ministro británico, Gordon Brown, pidió disculpas de
                        manera
                        oficial a Alan Turing por la manera en que fue tratado. Fue una reacción a una petición en
                        Internet
                        que lo
                        que buscaba era el indulto real.
                    </p>
                    <p>
                        Las reticencias políticas iniciales y la complejidad de los trámites retrasaron esa medida para
                        restablecer
                        el honor de Turing. No llegó a tiempo para el centenario de su nacimiento, en 2012. El indulto
                        real
                        llegó en
                        agosto de 2014, con el propósito de que “a Turing se le recuerde por sus contribuciones durante
                        la
                        guerra y
                        no por su posterior condena criminal”. Fue una medida simbólica y excepcional, pues los indultos
                        sólo se
                        suelen conceder si el condenado es técnicamente inocente. Así, el decreto real de Isabel II puso
                        en
                        marcha
                        otro proceso: en febrero de 2015 la familia de Turing pidió el indulto póstumo para los otros
                        casi
                        50.000
                        hombres condenados en Gran Bretaña por su homosexualidad, que fue un crimen en ese país desde
                        1885
                        hasta
                        1967.
                    </p>
                </div>
                <a href="#arriba">Subir arriba</a>
            </section>
        </main>

        <aside>
            <section class="right">
                <nav>
                    <h3>Barra de navegación</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/babbage">Babbage</a></li>
                        <li><a href="/berners-lee">Berners-Lee</a></li>
                        <li><a href="/clarke">Clarke</a></li>
                        <li><a href="/hamilton">Hamilton</a></li>
                        <li><a href="/hopper">Hopper</a></li>
                        <li><a href="/lovelace">Lovelace</a></li>
                        <li><a href="/turing">Turing</a></li>
                    </ul>
                </nav>
            </section>
        </aside>
    </div>

    <footer>
        <address>
            Puedes encontrar el GitHub del autor en <a href="https://github.com/JimenaRW">GitHub</a><br>
            Su mail de contacto es <a href="mailto:jimena.witen@gmail.com">mail de contacto</a><br>
        </address>
    </footer>
</body>

</html>